<!doctype html>
<html lang="en">

{% load static %}

<script type="text/javascript">
    function show_loading() {
        document.getElementById("loading").style.display = "block";
        document.getElementById("content").style.display = "block";
    }

    function show_input(iid) {
        console.log(iid);
        document.getElementById(iid).style.display = "block";
    }
</script>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Deep Radiology</title>
</head>
<body background="{% static "xray.jpg" %}">

<div class="jumbotron"><h2>Welcome to DeepRadiology!</h2></div>
<div style="text-align: center">
    <form id="upload_form" method="post" class="center" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group" onchange="show_input('in2')"><input type="file" name="image1"></div>
        <div id="in2" class="form-group" onchange="show_input('in3')" style="display: none"><input type="file" name="image2"></div>
        <div id="in3" class="form-group" onchange="show_input('in4')" style="display: none"><input type="file" name="image3"></div>
        <div id="in4" class="form-group" onchange="show_input('in5')" style="display: none"><input type="file" name="image4"></div>
        <div id="in5" class="form-group" onchange="show_input('in6')" style="display: none"><input type="file" name="image5"></div>
        <div id="in6" class="form-group" onchange="show_input('in7')" style="display: none"><input type="file" name="image6"></div>
        <div id="in7" class="form-group" onchange="show_input('in8')" style="display: none"><input type="file" name="image7"></div>
        <div id="in8" class="form-group" onchange="show_input('in9')" style="display: none"><input type="file" name="image8"></div>
        <div id="in9" class="form-group" onchange="show_input('in10')" style="display: none"><input type="file" name="image9"></div>
        <div id="in10" class="form-group" onchange="show_input('in11')" style="display: none"><input type="file" name="image10"></div>
        <div id="in11" class="form-group" style="display: none">Can't upload more than 10 images!</div>
        <button type="submit" class="btn btn-info" onclick="show_loading()">Upload</button>
    </form>

    <div id="loading" style="display: none;">
        <img src="https://media.giphy.com/media/cZDRRGVuNMLOo/giphy.gif" height="200">
        <div>Please wait while we run our tests....</div>
    </div>

    {% if status == 'success' %}
        <p>Here are your results:</p>
        <p>Probability: {{output}} %</p>
        <p>Prediction: {{preds}}</p>
    {% elif status == "no_image" %}
        <p>No image selected</p>
    {% endif %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
